/* Menu icon */
.trca-menu-icon {
    background-image: url(icons/trusted.cryptoarmdocs/mnu_docs.png);
    background-position: 9px 4px;
}

#trca-menu-icon {
    background-image:url(icons/trusted.cryptoarmdocs/mnu_docs.png);
}

/* Table with separators between rows */
.trca-doc-table {
    width: 100%;
    border-collapse: collapse;
}

.trca-doc-table tr {
    border: solid;
    border-width: 1px 0;
    border-color: #D3D3D3;
}

.trca-doc-table td{
    padding: 5px 0;
}

.trca-doc-table td:first-child {
    display: inline-block;
    white-space: nowrap;
    width: 69%;
}

@media(min-width: 1025px){
    .trca-doc-table td:last-child {
        width: 30%;
        display: inline-block;
    }
}
@media(max-width: 1024px){
    .trca-doc-table td:last-child {
        width: 30%;
    }
}

.trca-doc-table tr:first-child {
    border-top: none;
}

.trca-doc-table tr:last-child {
    border-bottom: none;
}

/*Table documents column*/
    /*Document name*/
.trca-adm-list-table-cell-documents{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}
@media(max-width: 1280px){
    .trca-adm-list-table-cell-documents{
        width: 200px;
    }
}
@media(max-width: 1024px){
    .trca-adm-list-table-cell-documents{
        width: 169px;
    }
}
    /*certificate*/
.trca-adm-list-table-cell-certificate{
    table-layout: fixed;
    min-width: 250px;
}
.trca-adm-list-table-cell-certificate th:first-child{
    width: 30%;
}
.trca-adm-list-table-cell-certificate td:nth-child(2){
    text-overflow: ellipsis;
    overflow: hidden;
}
.trca-adm-list-table-cell-certificate td:nth-child(3){
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Verify document button */
.trca-verify-button {
    float: left;
    font-style: italic;
    margin: 2px;
    width: 15px;
    margin-right: 10px;
    height: 15px !important;
    padding: 0 !important;
}
/* Document link */
.trca-tn-document {
    cursor: pointer;
    display: inline-block;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 25px;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}
@media(max-width: 1024px){
    .trca-tn-document {
        width: 120px;
    }
}
.trca-tn-document-main {
    cursor: pointer;
    display: inline-block;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 8px;
    vertical-align: middle;
}
/* Document email icon and status */
.trca-email-icon {
    margin-right: 10px;
    padding: 0 !important;
}

.trca-email-status{
    display: table-cell;
    vertical-align: middle;
}

/*Download document*/
.trca-adm-input-file .adm-input-file{
    text-overflow: ellipsis;
    width: 115px;
    display: block !important;
}

/*Modal window*/
.trca-modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 535px;
    max-height: 100%;
    min-height: 217px;
    z-index: 1050;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.trca-modal-header {
    text-align: left;
    font-size: 24px;
    background: #2196f3;
    padding: 24px;
    color: white;
}

.trca-modal-content {
    display: flex;
    line-height: 1.2;
}

.trca-modal-content-icon {
    padding-top: 24px;
    padding-left: 24px;
    font-size: 41px;
    color: rgba(0,0,0,.38);
}

.trca-modal-content-message {
    font-size: 16px;
    padding: 24px;
}

.trca-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 8px 8px auto;
    cursor: pointer;
    background-color: rgb(33, 150, 243);
    color: white;
    width: 185px;
    height: 36px;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    font-weight: 600;
}

.trca-modal-close:hover:not(.disabled) {
    background: #1E88E5 !important;
}

.trca-modal-overlay {
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trca-modal-spinner {
    height: 2px;
    width: 100%;
    position: absolute;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
    background-color: #ddd;
  }
  .trca-modal-spinner:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 2px;
    min-height: 2px;
    z-index: 1100;
    background-color: #2980b9;
    animation: trca-modal-spinner_loading 2s linear infinite;
  }

  @keyframes trca-modal-spinner_loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }

/* Popup message */
.trca-popup-window {
    position: fixed;
    left: auto;
    bottom: 50px;
    right: 40px;
    width: 400px;
    z-index: 1050;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
    box-shadow: 0px 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.trca-popup-window .trca-popup-content {
    display: flex;
}

.trca-popup-window .trca-popup-content.negative{
    background-color: #ffe1e1;
}

.trca-popup-window .trca-popup-content.positive{
    background-color: #e2ffd9;
}

.trca-popup-window .trca-popup-icon {
    margin: auto 20px;
    color: rgb(33, 150, 243);
}

.trca-popup-window .trca-popup-icon.negative{
    color: #dd3d3d;;
}

.trca-popup-window .trca-popup-icon.positive{
    color: green;
}

.trca-popup-window .trca-popup-icon .material-icons {
    font-size: 36px;
    width: 36px;
}

.trca-popup-window .trca-popup-message {
    margin: 18px auto 24px 0;
    word-break: break-word;
}

.trca-popup-window .trca-popup-close .material-icons {
    font-size: 18px;
    margin: 10px 10px 0 15px;
    cursor: pointer;
}

/* Tooltips */
[tooltip]{
    margin:20px 60px;
    position:relative;
    display:inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
    left:0%;
    top:50%;
    margin-left:-12px;
    transform:translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before{
    left:50%;
}

[tooltip-position='buttom']::before{
    top:100%;
    margin-top:8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before{
    left:100%;
    top:50%;
    margin-left:1px;
    transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
    left:0%;
    top:50%;
    margin-left:-8px;
    transform: translateX(-100%)   translateY(-50%);
}

[tooltip-position='top']::after{
    left:50%;
}

[tooltip-position='buttom']::after{
    top:100%;
    margin-top:8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after{
    left:100%;
    top:50%;
    margin-left:8px;
    transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
    opacity:1
}

