/* Menu icon */
.trustedcryptoarmdocs_menu_icon {
    background-image: url(icons/trusted.cryptoarmdocs/mnu_docs.png);
    background-position: 9px 4px;
}

#trustedcryptoarmdocs_menu_icon {
    background-image:url(icons/trusted.cryptoarmdocs/mnu_docs.png);
}

/* Table with separators between rows */
.trustedcryptoarmdocs_doc_table {
    width: 100%;
    border-collapse: collapse;
}

.trustedcryptoarmdocs_doc_table tr {
    border: solid;
    border-width: 1px 0;
    border-color: #D3D3D3;
}

.trustedcryptoarmdocs_doc_table td{
    padding: 5px 0;
}

.trustedcryptoarmdocs_doc_table td:first-child {
    display: inline-block;
    white-space: nowrap;
    width: 69%;
}

@media(min-width: 1025px){
    .trustedcryptoarmdocs_doc_table td:last-child {
        width: 30%;
        display: inline-block;
    }
}
@media(max-width: 1024px){
    .trustedcryptoarmdocs_doc_table td:last-child {
        width: 30%;
    }
}

.trustedcryptoarmdocs_doc_table tr:first-child {
    border-top: none;
}

.trustedcryptoarmdocs_doc_table tr:last-child {
    border-bottom: none;
}

/* Verify document button */
.verify_button {
    float: left;
    font-style: italic;
    margin: 2px;
    width: 15px;
    margin-right: 10px;
    height: 15px !important;
    padding: 0 !important;
}

/* Document link */
.tn_document {
    cursor: pointer;
    display: inline-block;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 25px;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}
@media(max-width: 1024px){
    .tn_document {
        width: 120px;
    }
}
/*Table documents column*/
    /*Document name*/
.adm-list-table-cell-documents{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}
@media(max-width: 1280px){
    .adm-list-table-cell-documents{
        width: 200px;
    }
}
@media(max-width: 1024px){
    .adm-list-table-cell-documents{
        width: 169px;
    }
}
    /*certificate*/
.adm-list-table-cell-certificate{
    width: 100%;
    table-layout: fixed;
    min-width: 250px;
}
.adm-list-table-cell-certificate th:first-child{
    width: 30%;
}
.adm-list-table-cell-certificate td:nth-child(2){
    text-overflow: ellipsis;
    overflow: hidden;
}
.adm-list-table-cell-certificate td:nth-child(3){
    text-overflow: ellipsis;
    overflow: hidden;
}
.tn_document_main {
    cursor: pointer;
    display: inline-block;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 8px;
    vertical-align: middle;
}
/* Document email icon and status */
.trca_email_icon {
    margin-right: 10px;
    padding: 0 !important;
}

.trca_email_status{
    display: table-cell;
    vertical-align: middle;
}

/*Download document*/
.adm-workarea .adm-input-file{
    text-overflow: ellipsis;
    width: 115px;
    display: block !important;
}

/* Tooltips */
[tooltip]{
    margin:20px 60px;
    position:relative;
    display:inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
    left:0%;
    top:50%;
    margin-left:-12px;
    transform:translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before{
    left:50%;
}

[tooltip-position='buttom']::before{
    top:100%;
    margin-top:8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before{
    left:100%;
    top:50%;
    margin-left:1px;
    transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
    left:0%;
    top:50%;
    margin-left:-8px;
    transform: translateX(-100%)   translateY(-50%);
}

[tooltip-position='top']::after{
    left:50%;
}

[tooltip-position='buttom']::after{
    top:100%;
    margin-top:8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after{
    left:100%;
    top:50%;
    margin-left:8px;
    transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
    opacity:1
}

