.crypto-arm-document__send-form {
    width: 600px;
}

.crypto-arm-document__send-form .send-form-data {
    display: flex;
}

.send-form-data {
    display: flex;
    flex-direction: column;
}

.crypto-arm-document__send-form .send-form-data .input-string {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crypto-arm-document__send-form input[type=text],
.crypto-arm-document__send-form input[type=number] {
    width: 300px;
}

.crypto-arm-document__send-form .send-form-data .radioBTN {
    display: flex;
    flex-direction: row;
}