
@font-face {
	font-family: 'Roboto'; 
    src: url(fonts/Roboto-Medium.ttf); 
    font-weight: normal;
    font-style: normal; 
}

@font-face {
	font-family: 'Roboto'; 
    src: url(fonts/Roboto-Medium.ttf); 
    font-weight: 500;
    font-style: normal; 
}

@font-face {
	font-family: 'Roboto'; 
    src: url(fonts/Roboto-Bold.ttf); 
    font-weight: bold;
    font-style: normal; 
}

.c_black {
    color: #4B4B4B !important;
}
.f_s_16 {
    font-size: 16px !important;
}
.f_w_medium {
    font-weight: 500 !important;
}

#trca_upload_component {
    font-family: Roboto;
}

.circle-out { 
    position:relative; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background: #ccc; 
    overflow: hidden; 
} 
.circle-in { 
    position: absolute; 
    width: 16px; 
    height: 16px; 
    margin: 2px; 
    border-radius: 50%; 
    background: white; 
}
.progress { 
    height: 22px;
    width: 44px;
    background: rgb(33, 150, 243);
    position: absolute;
    top:-22px;
    left: -12px;
    transform: rotate();
    transform-origin: 22px 22px;
    transition: all .3s;
} 

.trca_upload_save_draft {
    background-color: white;
    position: relative;
    width: 387px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Roboto;
    color: #4B4B4B;
}

.trca_upload_save_draft_header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}

.trca_upload_save_draft_text {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    padding-left: 35px;
}

.trca_upload_save_draft_footer {
    height: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.trca_upload_modal_window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    margin: 0;
    padding: 0;
    display: flex;
    pointer-events: auto;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.trca_upload_modal_window-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.trca_upload_success {
    width: 477px;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 16px;
    color: #868687;
    background: #FFFFFF;
}

.material-icons {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.trca_upload_button {
    background: #67B7F7;
    border-radius: 20px;
    width: 230px;
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.trca_upload_button:hover {
    background: #78c2ff;
    transition-duration: 700ms;
}

.trca_upload_window {
    position: relative;
    width: 604px;
    /* height: 296px; */
    justify-content: center;
    font-family: Roboto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}

#trca_drop_area {
    margin: auto;
    width: 432px;
    height: 129px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    background-color: #F9F9F9;
    border: 2px dashed #E5E5E5;
    border-radius: 2px;
}

#trca_drop_area.highlight {
    border-color: rgb(33, 150, 243);
    background-color: rgba(33, 149, 243, 0.151);
}

p {
    margin-top: 0;
}

textarea:focus::placeholder,
input:focus::placeholder {
    color: transparent;
}

.trca_upload_window_header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 12%;
}

.trca_upload_window_header_close .material-icons {
    position: absolute;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.158);
    cursor: pointer;
    top: 20px;
    right: 20px;
    border-radius: 10px;
}

.trca_upload_window_header_close .material-icons:hover {
    background-color: rgba(168, 171, 186, 0.3);
    color: rgba(0, 0, 0, 0.432);
    transition-duration: 700ms;
}

.trca_upload_window_header_step {
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.trca_upload_window_header_step_number {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    color: white;
    background: #67B7F7;
    border-radius: 15px;
}

.trca_upload_window_header_step_number_text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.trca_upload_window_header_step_name {
    line-height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #4B4B4B;
}

.trca_upload_window_header_upload_more {
    height: 16px;
    line-height: 16px;
    font-size: 15px;
    text-decoration: underline;
    color: #67B7F6;
    cursor: pointer;
}

.trca_upload_window_footer {
    height: 88px;
    display: flex;
    padding: 0 25px 0 25px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.trca_upload_window_footer_cancel {
    width: 83px;
    height: 79px;
    display: flex;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.486);
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    transition-duration: 700ms;
}

.trca_upload_window_footer_cancel:hover {
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 5px;
    transition-duration: 700ms;

}

.trca_upload_window_footer_docs_actions {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trca_upload_window_footer_save_in_docs {
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    color: #67B7F6;
    cursor: pointer;
}

.trca_upload_window_footer_send_button {
    height: 36px;
    padding: 0 16px 0 16px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #67B7F7;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.24);
    color: white;
    cursor: pointer;
}

.trca_upload_form_icon {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.trca_upload_form_icon .material-icons {
    height: 47px;
    font-size: 47px;
    width: 47px;
    color: #A6CDFF
}

.trca_upload_form_text {
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.747);
    font-size: 15px;
    margin-bottom: 22px;
}

.trca_upload_form label {
    color: rgb(33, 150, 243);
    cursor: pointer;
}

.trca_upload_file_list {
    border: 1px solid #E5E5E5;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 434px;
    height: 104px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 13px 15px 13px 17px;
}

.trca_doc_list_item {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    height: 35px;
    color: #67B7F7;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 35%;
}

.trca_doc_list_remove {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.trca_doc_list_remove:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #67B7F7;
    color: white !important;
}

.trca_doc_list_item_name {
    width: 80%;
    display: inline-flex;
    justify-content: flex-start;
    white-space: nowrap;
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trca_docs_uploaded_popup {
    height: 54px;
    width: 477px;
}

.pdf::before {
    background: url(icons/formats/png/pdf.png)left/20px no-repeat;
}

.doc::before {
    background: url(icons/formats/png/doc.png)left/20px no-repeat;
}

.zip::before {
    background: url(icons/formats/png/zip.png)left/20px no-repeat;
}

.jpg::before {
    background: url(icons/formats/png/jpg.png)left/20px no-repeat;
}

.php::before {
    background: url(icons/formats/png/php.png)left/20px no-repeat;
}

.docx::before {
    background: url(icons/formats/png/doc.png)left/20px no-repeat;
}

.png::before {
    background: url(icons/formats/png/png.png)left/20px no-repeat;
}

.js::before {
    background: url(icons/formats/png/js.png)left/20px no-repeat;
}

.bmp::before {
    background: url(icons/formats/png/bmp.png)left/20px no-repeat;
}

.svg::before {
    background: url(icons/formats/png/svg.png)left/20px no-repeat;
}

.txt::before {
    background: url(icons/formats/png/txt.png)left/20px no-repeat;
}

.xml::before {
    background: url(icons/formats/png/xml.png)left/20px no-repeat;
}

.xls::before {
    background: url(icons/formats/png/xls.png)left/16px no-repeat;
}

.css::before {
    background: url(icons/formats/png/css.png)left/16px no-repeat;
}

.trca_doc_list_item_name::before {
    content: " ";
    padding: 0 14px;
}

.onload:before{
    content: " ";
    padding: 0 5px;
}

.trca_doc_list_item_size {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    color: #A8ABBA;
}

#fileElem {
    display: none;
}

#trca_upload_popup {
    width: 477px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}

.trca_upload_window_send_form {
    width: 434px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    height: 146px;
}

.trca_upload_window_send_form_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 434px;
    height: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #67B7F7;
}

.trca_upload_window_send_form_field input {
    width: 382px;
    font-size: 12px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    text-indent: 9px;
    line-height: 14px;
}

.trca_upload_window_send_form_field input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    line-height: 13px;
    align-items: center;
    color: #C4C4C4
}

.trca_upload_window_send_form_field input:focus::placeholder {
    color: transparent;
}

.trca_upload_window_send_form_comment_field {
    width: 434px;
    height: 47px;
}

.trca_upload_window_send_form_comment_field textarea {
    width: 434px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
    text-indent: 9px;
}

.trca_upload_window_send_form_comment_field textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C4C4C4
}

.trca_upload_window_send_form_comment_field textarea:focus::placeholder {
    color: transparent;
}

.trca_upload_window_send_form_require_sign {
    width: 434px;
    color: #868687;
    display: flex;
    align-items: center;
}

.trca_upload_window_download {
    position: relative;
    padding: 30px 30px 20px;
    width: 400px;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}

.trca_upload_window_download {
    position: relative;
    padding: 30px 30px 15px;
    width: 388px;
    font-weight: 500;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
}

.trca_upload_window_download_radio {
    padding: 20px 0;
}

.trca_upload_window_download_radio input{
    margin-right: 10px;
}

.trca_upload_window_download_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.trca_upload_window_download_cancel {
    padding: 7px 20px;
    margin-right: 30px;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.486);
    font-weight: 500;
}

.trca_upload_window_download_cancel:hover {
    background-color: rgba(168, 171, 186, 0.3);
    /* opacity: 0.6; */
    border-radius: 5px;
}



.trca_edo_body {
    font-family: Roboto;
    display: flex;
    width: 100%;
    /* height: 600px; */
    font-size: 16px;
    border: 1.5px solid #E5E5E5;
}

.trca_edo_menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 1.5px solid #E5E5E5;
}

.trca_edo_menu span {
    padding-left: 30px;
}

.trca_hide_menu {
    width: 75px;
}

.trca_hide_menu span {
    display: none;
}

.trca_edo_upload_button {
    display: flex;
    align-items: center;
    margin: 20px 18px;
    padding: 0 30px 0 10px;
    background: #67B7F7;
    color: white;
    white-space: nowrap;
    border-radius: 20px;;
    cursor: pointer;
}

.trca_edo_upload_button::before {
    content: "+";
    padding-left: 2px;
    text-align: left;
    font-size: 27px;
}

.trca_edo .trca_menu {
    color: #4B4B4B;
}

.trca_edo_menu_item {
    display: flex;
    padding: 10px 30px;
    font-weight: 500;
}

.trca_edo .submenu {
    padding: 5px 30px;
    color: #868687;
}

.trca_edo_menu .active_menu {
    background: #F0F6FC;
    cursor: pointer;
}

.trca_edo_menu_item:hover ,
.submenu:hover {
    background: #F0F6FC;
    cursor: pointer;
}

.trca_edo_check {
    position: relative;
    padding: 0 8px;
}

.trca_edo_check::before {
    content: "";
    position: absolute;
    background: url(/bitrix/components/trusted/cryptoarm_docs_by_user/templates/.default/images/check.png) top/12px no-repeat;
    padding: 0px 0px;
    width: 12px;
    height: 16px;
    transform: rotate(90deg);
    top: calc(50% - 8px);
    left: 0;
    opacity: 0.8;
}

.trca_edo_inbox::before,
.trca_edo_outbox::before,
.trca_edo_draft::before,
.trca_edo_download::before,
.trca_edo_available::before {
    content: " ";
    padding: 0 8px;
    opacity: 0.6;
}

.trca_edo_inbox::before {
    background: url("images/inbox.png") left/16px no-repeat;
}
.trca_edo_outbox::before {
    background: url("images/outbox.png") left/16px no-repeat;
}
.trca_edo_draft::before {
    background: url("images/draft.png") left/16px no-repeat;
}
.trca_edo_download::before {
    background: url("images/download.png") left/16px no-repeat;
}
.trca_edo_available::before {
    background: url("images/available.png") left/16px no-repeat;
}

.trca_edo_labels {
    display: flex;
    padding: 0 30px 0 76px ;
    flex-wrap: wrap;
}
.trca_label {
    height: 12px;
    margin: 5px 5px 5px 0;
    padding: 3px 7px;
    font-size: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.label_orange {
    background: #FFE8C2;
    color: #EE800D;
}
.label_violet {
    background: #ECE4FA;
    color: #6D37D7;
}
.label_blue {
    background: #E0F0F3;
    color: #57A0A0;
}
.label_green {
    background: #BBF7DE;
    color: #09915A;
}

.trca_edo_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trca_edo_header_menu {
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1.5px solid #E5E5E5;
}

.trca_edo_header_menu_buttons {
    display: flex;
}

.trca_header_check {
    display: flex;
    align-items: center;
    padding: 5px 7px 5px 8px;
    min-width: 28px;
}
.trca_header_check input {
    display: none;
}

.trca_button_send,
.trca_button_download,
.trca_button_remove,
.trca_button_sign,
.trca_button_label,
.trca_button_recall {
    margin-right: 5px;
    padding: 15px 10px 15px 0;
    font-size: 14px;
    opacity: 0.3;
    cursor: pointer;
}

.trca_edo_body .op_5 {
    opacity: 0.5;
}

.trca_button_send:hover,
.trca_button_download:hover,
.trca_button_remove:hover,
.trca_button_sign:hover,
.trca_button_label:hover,
.trca_button_recall:hover {
    background-color:rgba(168, 171, 186, 0.3);
    opacity: 0.8;
}

.trca_button_send::before,
.trca_button_download::before,
.trca_button_remove::before,
.trca_button_sign::before,
.trca_button_label::before,
.trca_button_recall::before {
    content: "";
    padding: 20px;
}

.trca_button_send::before {
    background: url("images/outbox.png") center/20px no-repeat;
}

.trca_button_download::before {
    background: url("images/down.png") center/20px no-repeat;
}

.trca_button_remove::before {
    background: url("images/basket.png") center/20px no-repeat;
}

.trca_button_sign::before {
    background: url("images/sign.png") center/20px no-repeat;
}

.trca_button_label::before {
    background: url("images/label.png") center/20px no-repeat;
}

.trca_button_recall::before {
    background: url("images/recall.png") center/20px no-repeat
}

.trca_edo_header_menu_search {
    position: relative;
}

.trca_edo_header_menu_search input {
    padding: 0 30px;
    font-size: 12px;
    line-height: 30px;
    color: #A8ABBA;
    border: 1px solid rgba(168, 171, 186, 0.53);
    border-radius: 20px;
}

.trca_button_close,
.trca_button_search {
    position: absolute;
    opacity: 0.2;
    padding: 8px;
}

.trca_button_search {
    left: 8px;
    top: 8px;
    background: url("images/search.png") center/16px no-repeat;;
}

.trca_button_close {
    right: 0;
    background: url("images/close.png") center/26px no-repeat;;
}

.trca_edo_items {
    display: flex;
    height: 100%;
}

.trca_edo_item {
    display: flex;
    /* align-items: center; */
    font-size: 14px;
    color: #868687;
    border-bottom: 1.5px solid #E5E5E5;
    border-left: 3px solid white;
}

.trca_edo_item:hover input{
    display: block;
}

.trca_edo_item:hover {
    background-color: #F5F5F5;
    border-left: 3px solid #E5E5E5;
}

.trca_edo_item_cheched {
    background-color: #F0F6FC !important;
    border-left: 3px solid #67B7F6 !important;
}

.trca_edo_items_table {
    width: 100%;
}

.trca_edo_check_item {
    padding: 15px 15px 0;
    flex: 0 0 20px;
    min-width: 30px;
}
.trca_edo_check_item input {
    display: none;
}

.trca_edo_item_properties {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.trca_edo_item_first_col{
    padding: 10px;
    flex: 0 0 75%;
    word-break: break-all;
}
/* .trca_edo_item_status{
    padding: 20px 20px 20px 5px;
    flex: 0 0 25%
} */
.trca_edo_item_time{
    padding: 10px 20px;
    flex: 0 0 25%;
    text-align: end;
}

.trca_edo_item_first_col_row {
    font-size: 12px;
}

.trca_edo_item_first_col .fourth {
    display: flex;
    padding: 5px 0;
}

.trca_edo_item_first_col_row_file {
    margin-right: 10px;
    padding: 4px 10px;
    border: 0.5px solid #C4C4C4;
    border-radius: 20px;
}

.trca_edo_item_first_col_row_file::before {
    content: "";
    padding: 5px 14px;
}

.trca_edo_items .red_status:before {
    content: "\25CF";
    color: #E35D32;
}

.trca_edo_items .grow_status:before {
    content: "\25CF";
    color: #868687;
}

.trca_edo_items .green_status:before {
    content: "\25CF";
    color: #09915A;
}

/* .trca_edo_items .green_status {
    color: #09915A;
} */

.trca_edo_info {
    position: relative;
    min-width: 270px;
    border-left: 1.5px solid #E5E5E5;
    padding: 30px 10px;
    background: #F9F9F9;
    font-size: 12px;
    color: #4B4B4B;
}

.trca_edo_info_close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 15px;
    background: url("images/close.png") center/12px no-repeat;
    opacity: 0.3;
    cursor: pointer;
}

.trca_edo_info_close:hover {
    background-color: rgba(168, 171, 186, 0.3);
    opacity: 0.6;
    border-radius: 15px;
}

.trca_edo_info_title {
    width: 100%;
}

.trca_edo_info_title span {
    display: block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.trca_edo_info_text {
    padding: 10px 20px 20px;
}

.trca_edo_info_doc_properties {
    display: flex;
    padding: 5px;
}

.trca_edo_info_doc_first {
    flex: 0 0 30%;
    color: #A8ABBA;
}

.trca_edo_info_doc_second {
    flex: 0 0 70%;
}

.trca_edo_info_sign {
    display: flex;
}

.sign_green::before,
.sign_orange::before {
    content: "";
    padding: 6px 10px;
    margin: 1px;
}

.sign_green::before {
    background:url("images/sign_green.png") top/13px no-repeat;
}


.sign_orange::before {
    background:url("images/sign_orange.png") top/13px no-repeat;
}


.trca_edo_info_sign_info {
    padding-bottom: 10px;
}

.trca_edo_info_message_content {
    padding: 5px;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}

.trca_edo_info_message_header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.trca_edo_info_message_time {
    font-weight: normal;
    color: #A8ABBA;
}

.trca_edo_info_message_text,
.trca_edo_info_message_docs {
    display: flex;
    color: #A8ABBA;
}

.trca_edo_info_message_docs::before {
    content: "";
    margin-top: -4px;
    padding: 6px 10px;
    background: url("images/clip.png") left/12px no-repeat;
    opacity: 0.3;
}

.trca_edo_body .show {
    display: block;
}

.trca_label_window {
    position:absolute;
    top: 35px;
    left: 100px;
    z-index: 2;
    width: 184px;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.trca_label_window_search input {
    width: 184px;
    padding: 0 30px;
    font-size: 12px;
    line-height: 30px;
    color: #A8ABBA;
}

.trca_label_window_list {
    height: 101px;
    overflow-y: scroll;
}

.trca_label_window_list_item {
    height: 33px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.trca_label_window_list_item input {
    margin-left: 15px;
    margin-right:15px;
}

.trca_label_window_footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E5E5E5;
}

.trca_label_window_footer_button{
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    cursor: pointer;
}

.trca_label_create {
    color: #67B7F6;
}

.trca_label_window_footer_button:hover{
    background-color: rgba(168, 171, 186, 0.3);;
}

.trca_create_label_window {
    width: 387px;
    height: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.trca_create_label_window_header {
    display: flex;
    height: 67px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.trca_create_label_window_name {
    position: relative;
    margin-bottom: 30px;
}

.trca_create_label_window_name input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 339px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.trca_create_label_window_name input:focus {
    outline: none;
}
/* LABEL ======================================= */
.trca_create_label_window_name label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.trca_label_icon {

}

/* active state */
.trca_create_label_window_name input:focus ~ label, .trca_create_label_window_name input:valid ~ label {
    top: -10px;
    font-size: 10px;
    color: #999;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 360px;
}
.bar:before, .bar:after {
    content: "";
    height: 1px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #67b7f7;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
.trca_create_label_window_name input:focus ~ .bar:before,
.trca_create_label_window_name input:focus ~ .bar:after {
    width: 50%;
}


.trca_create_label_window_colors {
    display: flex;
    height: 50px;
    width: 314px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.trca_create_label_window_color input[type=radio] {
    opacity: 0;
}

.trca_create_label_window_color label {
    display: block;
    cursor: pointer;
    width: 25px;
    height:25px;
    border-radius: 50%;
}

.trca_create_label_window_color input[type=radio]:checked + label {
    width: 25px;
    height:25px;
    border-radius: 50%;
    border: 1px solid #869986;
}

.trca_label_one {
    background-color: #FFE8C2;
    color: #EE800D;
}

.png_trca_label_one {
    filter: invert(100%) sepia(47%) saturate(3345%) hue-rotate(296deg) brightness(123%) contrast(106%);
}

.trca_label_two {
    background-color: #ECE4FA;
    color: #6D37D7;
}

.png_trca_label_two {
    filter: invert(85%) sepia(25%) saturate(157%) hue-rotate(215deg) brightness(103%) contrast(96%);
}

.trca_label_three {
    background-color: #A6CDFF;
    color: #0a3a68;
}

.png_trca_label_three {
    filter: invert(69%) sepia(12%) saturate(1636%) hue-rotate(189deg) brightness(109%) contrast(115%);
}

.trca_label_four {
    background-color: #BBF7DE;
    color: #09915A;
}

.png_trca_label_four {
    filter: invert(85%) sepia(31%) saturate(250%) hue-rotate(99deg) brightness(105%) contrast(94%);
}

.trca_label_five {
    background-color: #F8DBD2;
    color: #bb7c63;
}

.png_trca_label_five {
    filter: invert(85%) sepia(29%) saturate(210%) hue-rotate(323deg) brightness(102%) contrast(94%);
}

.trca_label_six {
    background-color: #E0F0F3;
    color: #57A0A0;
}

.png_trca_label_six{
    filter: invert(96%) sepia(3%) saturate(1125%) hue-rotate(167deg) brightness(102%) contrast(91%);
}

.trca_label_seven {
    background-color: #FCC3A5;
    color: #b35928
}

.png_trca_label_seven {
    filter: invert(94%) sepia(74%) saturate(7430%) hue-rotate(296deg) brightness(110%) contrast(98%);
}

.trca_label_eight {
    background-color: #AEF2F4;
    color: #409090;
}

.png_trca_label_eight{
    filter: invert(81%) sepia(52%) saturate(185%) hue-rotate(136deg) brightness(104%) contrast(92%);
}

.trca_label_nine {
    background-color: #D6F9A5;
    color: #09915A;
}

.png_trca_label_nine {
    filter: invert(85%) sepia(21%) saturate(565%) hue-rotate(41deg) brightness(108%) contrast(95%);
}


.trca_create_label_window_footer {
    width: 100%;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.trca_edit_label_create {
    height: 30px;
    width: 327px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color: #67B7F6;
    cursor: pointer;
}

.trca_edit_label_create:hover {
    background-color: #b7dbfc;
}

.trca_edit_label_list {
    width:339px;
    height: 125px;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}

.trca_edit_label_list_item {
    height: 30px;
    flex: 0 0 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px
}

.trca_edit_label_list_item:hover {
    background-color: #f0f6fc;
}

.trca_edit_label_item_info_space {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.trca_edit_label_list_item_name {

}

.trca_edit_label_icon_place {
    width: 30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.trca_edit_label_icon_place:hover {
    background-color: rgba(168, 171, 186, 0.3);
    cursor: pointer;
}

.trca_edit_label_list_item_name_png {
    background: url(icons/icons/5.png)center/20px no-repeat;
    transform: rotate(45deg); /*translateY(0px) translateX(4px);*/
    height: 100%;
    width: 30px;
}

.trca_edit_label_list_item_buttons {
    opacity: 0;
    display:flex;
    height: 100%;
    width: 21%;
    justify-content: space-between;
}

.trca_edit_edit_button, .trca_edit_remove_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 40%;
    content: "";
}

.trca_edit_edit_button {
    background: url(icons/icons/7.png)center/20px no-repeat;
}

.trca_edit_remove_button {
    background: url(icons/icons/11.png)center/20px no-repeat;
}

.trca_edit_edit_button:hover, .trca_edit_remove_button:hover {
    cursor: pointer;
    background-color: rgba(168, 171, 186, 0.3);
}

.trca_edit_label_list_item_button {
    opacity: 0.4;
}

.trca_edit_label_footer {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.trca_edit_label_color_table {
    width: 81px;
    heitgh: 81px;
    background-color: white;
    display: flex;
}

.trca_edit_label_color {

}

.trca_edit_label_color input {
    display: none;
}